/*
    Burger-menu
    DO NOT ALTER THIS MIXIN
*/
.contactForm {
  max-width: 1400px;
  padding: 0px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contactForm#applyForm {
  padding-left: 0;
  padding-right: 0;
}
.contactForm > div {
  padding-top: 20px;
}
.contactForm div.fieldlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contactForm div.fieldlist div {
  flex: 45%;
  padding: 0;
}
@media (max-width: 768px) {
  .contactForm div.fieldlist div {
    flex: 100%;
  }
}
.contactForm input, .contactForm textarea, .contactForm button, .contactForm select {
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  padding: 10px;
}
.contactForm input, .contactForm textarea {
  border: 2px solid #999;
}
.contactForm input:not([type=checkbox]), .contactForm textarea:not([type=checkbox]) {
  width: 100%;
}
.contactForm input[type=checkbox], .contactForm textarea[type=checkbox] {
  transform: scale(1.5);
  margin-right: 10px;
  cursor: pointer;
}
.contactForm button {
  cursor: pointer;
  padding: 10px 40px;
  background-color: #F69A1D;
  color: #000;
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: 1px 1px 0px 0px #666, 2px 2px 0px 0px #666;
}
.contactForm button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}
.contactForm .error input, .contactForm .error textarea {
  border-color: red;
}
.contactForm .error span {
  color: red;
  display: block;
}

.alert {
  min-height: 120px;
  padding: 60px 20px 60px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.alert.alert-success {
  background-color: rgb(111, 219, 111);
}
.alert.alert-danger {
  background-color: #ff2929;
}
.alert > div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.alert .thumbsUpIcon:before {
  font-family: bestflex;
  font-size: 60px;
  content: "\e800";
  color: #333;
}
.alert .thumbsDownIcon:before {
  font-family: bestflex;
  font-size: 60px;
  content: "\e806";
  color: #333;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  color: #333;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  vertical-align: middle;
}

@font-face {
  font-family: "rsmarine";
  src: url("../font/rsmarine.eot?54900878");
  src: url("../font/rsmarine.eot?54900878#iefix") format("embedded-opentype"), url("../font/rsmarine.woff?54900878") format("woff"), url("../font/rsmarine.ttf?54900878") format("truetype"), url("../font/rsmarine.svg?54900878#rsmarine") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 1000px) {
  .inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 480px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.inner > :first-child {
  margin-top: 0;
}

@-webkit-keyframes scale {
  50% {
    transform: scale(1.2);
  }
}

@keyframes scale {
  50% {
    transform: scale(1.2);
  }
}
.top {
  position: relative;
  overflow: hidden;
}
.top.homepage > img {
  height: 600px;
}
@media (max-width: 1000px) {
  .top.homepage > img {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .top.homepage > img {
    height: 450px;
  }
}
@media (max-width: 480px) {
  .top.homepage > img {
    height: 400px;
  }
}
.top > img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: scale 40s linear infinite;
          animation: scale 40s linear infinite;
}
.top .topInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(51, 51, 51));
}
.top .topInfo > div {
  padding-bottom: 10px;
}
.top .topInfo .logoWrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .top .topInfo .logoWrap {
    flex-wrap: wrap;
  }
}
.top .topInfo .logoWrap p {
  margin: 0;
  padding: 0;
  color: #FFF;
}
.top .topInfo .logoWrap p:first-of-type {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .top .topInfo .logoWrap p:first-of-type {
    font-size: 34px;
  }
}
@media (max-width: 480px) {
  .top .topInfo .logoWrap p:first-of-type {
    font-size: 28px;
  }
}
.top .topInfo .logoWrap p:last-of-type {
  font-size: 18px;
}
@media (max-width: 480px) {
  .top .topInfo .logoWrap p:last-of-type {
    font-size: 14px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mainNav {
  border-bottom: 1px solid #CCC;
}
.mainNav #burger-check, .mainNav .burger-label {
  display: none;
}
@media (max-width: 768px) {
  .mainNav .burger-label {
    color: transparent; /* removes blinking cursor */
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 11px;
    right: 11px;
  }
  .mainNav .burger-label span {
    margin: 0;
    margin-bottom: 7px;
    height: 5px;
    background: #000;
    border: 1px solid #000;
    border-radius: 3px;
    position: relative;
    display: block;
  }
  .mainNav #burger-check:checked ~ .burger-label span:nth-child(2) {
    display: none;
  }
  .mainNav #burger-check:checked ~ .burger-label span:nth-child(1) {
    transform: rotate(45deg);
    transition-duration: 0.3s;
    width: 45px;
    top: 12px;
    left: -6px;
  }
  .mainNav #burger-check:checked ~ .burger-label span:nth-child(3) {
    transform: rotate(-45deg);
    transition-duration: 0.3s;
    width: 45px;
    top: 0px;
    left: -6px;
  }
  .mainNav #burger-check ~ ul {
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    transition: width 0.5s;
    position: absolute;
    top: 54px;
    right: 0;
  }
  .mainNav #burger-check:checked ~ ul {
    width: 90%;
  }
  .mainNav .burger-label {
    width: 46px;
    height: 46px;
    top: 11px;
    right: 11px;
    padding-top: 8px;
    background-color: #b4c8e8;
  }
  .mainNav .burger-label span {
    margin-left: 6px;
    margin-right: 6px;
    height: 5px;
    background: #1C355E;
    border: 1px solid #1C355E;
  }
  .mainNav #burger-check ~ ul {
    background-color: #1C355E;
    top: 64px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    z-index: 1;
  }
  .mainNav #burger-check ~ ul li a {
    display: block;
    color: #FFF;
    line-height: 40px;
    padding-left: 20px;
    width: 100%;
    text-decoration: none;
  }
  .mainNav #burger-check ~ ul li a:hover {
    background-color: #325fa8;
  }
  .mainNav #burger-check:checked ~ ul {
    border-left: 2px solid #333;
  }
}
@media (min-width: 769px) {
  .mainNav ul {
    display: flex;
    gap: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .mainNav ul {
    gap: 20px;
  }
}
@media (min-width: 769px) {
  .mainNav ul li {
    flex: 0 0 auto;
  }
  .mainNav ul li a {
    color: #333;
    display: block;
    line-height: 70px;
    text-decoration: none;
    font-weight: bold;
  }
  .mainNav ul li a:hover {
    color: #666;
  }
}

.contentWrapper {
  padding: 20px 0;
}
.contentWrapper img {
  border: 2px solid #CCC;
  padding: 10px;
  width: 100%;
}
.contentWrapper .inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fileWrap {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 600px;
  margin: 10px auto;
  padding-bottom: 5px;
  border-bottom: 1px solid #CCC;
}
.fileWrap div.fileTitle {
  width: 100%;
}
.fileWrap div.fileButton {
  width: 120px;
}
.fileWrap div.fileButton a {
  background-color: #1C355E;
  color: #FFF;
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #000;
}
.fileWrap div.fileButton a:hover {
  background-color: #325fa8;
}

.newsWrap {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #CCC;
}
.newsWrap .newsTitle {
  padding-bottom: 10px;
}
.newsWrap .newsTitle h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
.newsWrap .newsTitle a {
  text-decoration: none;
  color: #F69A1D;
}
.newsWrap .newsTitle a:hover {
  text-decoration: underline;
}
.newsWrap img {
  border: 0;
  padding: 0;
}
.newsWrap .newsInner {
  display: flex;
  gap: 10px;
}
@media (max-width: 480px) {
  .newsWrap .newsInner {
    flex-wrap: wrap;
  }
}
.newsWrap .newsInner .newsImage {
  width: 33%;
}
@media (max-width: 480px) {
  .newsWrap .newsInner .newsImage {
    width: auto;
  }
}
.newsWrap .newsInner .newsText {
  color: #666;
  font-size: 0.9em;
  width: 67%;
}
@media (max-width: 480px) {
  .newsWrap .newsInner .newsText {
    width: auto;
  }
}
.newsWrap .newsInner .newsText > * {
  margin-top: 0;
}
.newsWrap .newsText {
  color: #666;
  font-size: 0.9em;
}
.newsWrap .newsSite {
  text-align: right;
  padding-top: 5px;
}
.newsWrap .newsSite a {
  font-weight: bold;
  font-style: italic;
  color: #333;
  text-decoration: none;
}
.newsWrap .newsSite a:hover {
  text-decoration: underline;
}

.columns {
  display: flex;
  gap: 60px;
  margin: 10px 0;
}
@media (max-width: 1000px) {
  .columns {
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .columns {
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .columns {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .columns {
    flex-wrap: wrap;
  }
}
.columns > div {
  flex: 1 1 50%;
}
.columns > div > :first-child {
  margin-top: 0;
}
@media (max-width: 768px) {
  .columns > div {
    flex: 1 1 100%;
  }
}

footer {
  padding: 50px 0 100px 0;
  background-color: #000;
  color: #FFF;
}
footer > div {
  display: flex;
  gap: 60px;
}
@media (max-width: 768px) {
  footer > div {
    flex-wrap: wrap;
  }
}
footer > div > div {
  flex: 1 1 50%;
}
@media (max-width: 768px) {
  footer > div > div {
    flex: 1 1 100%;
  }
}

#toTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: -80px;
  z-index: 1;
  cursor: default;
  background-color: #1C355E;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  color: #FFF;
  transition: bottom 0.3s ease;
}
#toTop:before {
  font-family: "rsmarine";
  font-size: 40px;
  color: #FFF;
  content: "\e800";
}
#toTop.show {
  bottom: 40px;
}/*# sourceMappingURL=styles.css.map */