<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
                <clear />
                <rule name="Plesk. SSL redirect for #117" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" matchType="Pattern" pattern="OFF" ignoreCase="true" negate="false" />
                        <add input="{HTTP_IS_SITEPREVIEW}" matchType="Pattern" pattern="1" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Block wp-config.php for WordPress instances on domain #141" stopProcessing="true">
                    <match url="wp-config.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Block xmlrpc.php for WordPress instances on domain #141" stopProcessing="true">
                    <match url="xmlrpc.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Protect sensitive files for WordPress instances on domain #141" stopProcessing="true">
                    <match url="(?:wp-config\.bak|\.wp-config\.php\.swp|(?:readme|license|changelog|-config|-sample)\.(?:php|md|txt|htm|html))" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Disable PHP execution in cache folder for WordPress instances on domain #141" stopProcessing="true">
                    <match url="(?:.*/|^)cache/.*\.ph(?:p[345]?|t|tml)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Laravel Toolkit. Redirect Trailing Slashes If Not A Folder" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="true" negate="true" />
                        <add input="{URL}" matchType="Pattern" pattern="(.+)/$" ignoreCase="false" negate="false" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" />
                </rule>
                <rule name="Generic force non-WWW" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://{C:2}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <!-- <rule name="RewriteMediaFolder" stopProcessing="true">
                    <match url="^media/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="_mcfu638b-cms/wp-content/uploads/{R:1}" appendQueryString="true" />
                </rule> -->
				<!--
                <rule name="RedirectAdminToTrailingSlash" patternSyntax="ExactMatch">
                    <match url="admin" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/admin/" redirectType="Permanent" />
                </rule>
				-->
                <rule name="RewriteLoginPage" stopProcessing="true">
                    <match url="^admin" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="_mcfu638b-cms/wp-login.php" appendQueryString="true" />
                </rule>
                <!-- <rule name="bugFixCarbonFields" stopProcessing="true">
                    <match url="(.*)_mcfu638b-cms/wp-json/carbon-fields/v1(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}_mcfu638b-cms/index.php/wp-json/carbon-fields/v1{R:2}" appendQueryString="true" />
                </rule> -->
                <rule name="WCfix1" stopProcessing="true">
                    <match url="(.*)wp-json/wc-admin(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}_mcfu638b-cms/index.php/wp-json/wc-admin{R:2}" appendQueryString="true" />
                </rule>
                <rule name="WCfix2" stopProcessing="true">
                    <match url="(.*)wp-json/wc-analytics(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}_mcfu638b-cms/index.php/wp-json/wc-analytics{R:2}" appendQueryString="true" />
                </rule>
                <rule name="WCfix3" stopProcessing="true">
                    <match url="(.*)wp-json/wp/v2/users(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}_mcfu638b-cms/index.php/wp-json/wp/v2/users{R:2}" appendQueryString="true" />
                </rule>
                <rule name="WP rewrite" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="WordPress: https://rsmarine.wtgroup.nl" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Laravel Toolkit. Send Requests To Front Controller" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="true" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
        <!--
          **********************************************************************************
          Custom rules
          By Leon Kuijf, WT Media & Events
        -->
        <!-- Redirecting www to non-www -->
        
        <!-- Redirecting http to https -->
        
        <!-- Hiding WordPress wp-content uploads folder -->
        
        <!-- Adding trailing slash to /admin -->
        
        <!-- Make /admin/ available -->
        
        <!-- Bug fix carbon fields plugin -->
        
        <!-- Bug fix WooCommerce -->
                <!--
  			  **********************************************************************************
		    -->
        
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="401" />
      <error statusCode="401" path="401.htm" />
      <remove statusCode="403" />
      <error statusCode="403" path="403.htm" />
      <remove statusCode="404" />
      <error statusCode="404" path="404.htm" />
      <remove statusCode="405" />
      <error statusCode="405" path="405.htm" />
      <remove statusCode="406" />
      <error statusCode="406" path="406.htm" />
      <remove statusCode="412" />
      <error statusCode="412" path="412.htm" />
      <remove statusCode="500" />
      <error statusCode="500" path="500.htm" />
      <remove statusCode="501" />
      <error statusCode="501" path="501.htm" />
      <remove statusCode="502" />
      <error statusCode="502" path="502.htm" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
    <!-- <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent> -->
    <!-- <httpProtocol>
      <customHeaders>
        <add name="Referrer-Policy" value="origin" />
      </customHeaders>
    </httpProtocol> -->
  </system.webServer>
</configuration>
