.contactForm {
    max-width: 1400px;
    padding: 0px 40px 40px 40px;
    &#applyForm {
        padding-left: 0;
        padding-right: 0;
    }
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    > div {
        padding-top: 20px;
    }
    div.fieldlist {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        div {
            flex: 45%;
            @media (max-width: $screenBreakpoint) {
                flex: 100%;
            }
            padding: 0;
        }
    }
    input, textarea, button, select {
        font-family: $fontFamily;
        font-size: 18px;
        padding: 10px;
    }
    input, textarea {
        border: 2px solid #999;
        &:not([type=checkbox]) {
            width: 100%;
        }
        &[type=checkbox] {
            transform: scale(1.5);
            margin-right: 10px;
            cursor: pointer;
        }
    }
    button {
        cursor: pointer;
        padding: 10px 40px;
        background-color: $colorOrange;
        color: #000;
        font-weight: bold;
        border: 1px solid $colorBlack;
        -webkit-box-shadow: 1px 1px 0px 0px #999, 2px 2px 0px 0px #999;
        box-shadow: 1px 1px 0px 0px #999, 2px 2px 0px 0px #999;
        &:active {
            -webkit-box-shadow: none;
            box-shadow: none;
            transform: translate(2px, 2px);
        }
    }
    .error {
        input, textarea {
            border-color: red;
        }
        span {
            color: red;
            display: block;
        }
    }
}
.alert {
    min-height: 120px;
    padding: 60px 20px 60px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    &.alert-success {
        background-color: rgb(111, 219, 111);
    }
    &.alert-danger {
        background-color: #ff2929
    }
    > div {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .thumbsUpIcon {
        &:before {
            font-family: bestflex;
            font-size: 60px;
            content: '\e800';
            color: $colorBlack;
        }
    }
    .thumbsDownIcon {
        &:before {
            font-family: bestflex;
            font-size: 60px;
            content: '\e806';
            color: $colorBlack;
        }
    }
}
